<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css -->
<link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <!-- <div class="title-bar-title">Menu</div> -->
        <a href="index.html"><img id="logo" src="Images/NavBarImage.png" alt="company logo"></a>

    </div>
    <link href="css/foundation.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">



    <style>
        .fi-social-facebook {
            color: dodgerblue;
            font-size: 2rem;
        }

        .fi-social-youtube {
            color: red;
            font-size: 2rem;
        }

        .fi-social-pinterest {
            color: darkred;
            font-size: 2rem;
        }

        i.fi-social-instagram {
            color: brown;
            font-size: 2rem;
        }

        i.fi-social-tumblr {
            color: navy;
            font-size: 2rem;
        }

        .fi-social-twitter {
            color: skyblue;
            font-size: 2rem;
        }
    </style>

    <body>
    <div class="top-bar">
        <div class="top-bar-left">
             <ul class="menu">
             <li><a href="./">Home</a></li>

                <li class="dropdown">
                  <a class="dropdown" data-toggle="dropdown" href="#">About Us
                    <span class="caret"></span></a>
                    <ul class="dropdown-content">
                      <li><a href="./aboutUs">About Us</a></li>
                      <li><a href="./AboutUsIndividuals">Staff Members</a></li>
                    </ul>
                </li>

                <li><a href="./events">News & Events</a></li>
                <li><a href="./adoptions">Adoptions</a></li>
                <li><a href="./lostAndFound">Lost & Found</a></li>
                <li><a href="./donations">Donations</a></li>
                <li><a href="./GivenGain">GivenGain</a></li>
                <li><a href="./contactUs">Contact Us</a></li>
            </ul>

          </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="medium-4 columns">
            <!-- <img id="logo" src="Images/F4HLogo.png" alt="company logo"> -->
        </div>

    </div>


    <br>

</head>


{{{body}}}
</body>
<footer>

    <div class="row expanded">
        <div class="medium-6 columns">
            <ul class="menu">
              <li><p>Created By:</p></li><li><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></li>

            </ul>
        </div>

    </div>
</footer>
</html>
